.main{
    margin-left: 200px;
    padding: 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.page-title{
    margin-left: 200px;
}



.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #f0f0f0;
}

.profile{
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile span{
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

input[type="text"]{
    width: 75%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="text"]:focus{
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.container{
    width: calc(100% - 200px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.box{
    align-self: stretch;
    height: 72px;
    padding: 12px 24px;
    background-color: #fcfcfc;
    display: flex;
    gap: 10px;
}

.inner-box{
    display: flex;
    gap: 20px;
}

.image-container{
    width: 48px;
    height: 48px;
    background: #f0f2d5;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.image-container img{
    width: 100%;
    height: auto;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.title{
    color: #141414;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
}

.description{
    color: #637587;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word;

}